/* Kitwork Industrial Components: ALERTS */
.alert { padding: 16px; border-radius: 6px; border: 1px solid transparent; width: 100%; margin-bottom: 16px; font-size: 14px; }
.alert-success { background-color: rgba(2, 216, 66, 0.08); border-color: rgba(2, 216, 66, 0.2); color: rgb(2, 216, 66); }
.alert-default { background-color: rgba(226, 232, 246, 0.08); border-color: rgba(226, 232, 246, 0.2); color: rgb(226, 232, 246); }
.alert-orangered { background-color: rgba(255, 69, 0, 0.08); border-color: rgba(255, 69, 0, 0.2); color: rgb(255, 69, 0); }
.alert-lime { background-color: rgba(0, 255, 0, 0.08); border-color: rgba(0, 255, 0, 0.2); color: rgb(0, 255, 0); }
.alert-kitwork { background-color: rgba(248, 34, 68, 0.08); border-color: rgba(248, 34, 68, 0.2); color: rgb(248, 34, 68); }
.alert-peace { background-color: rgba(136, 102, 255, 0.08); border-color: rgba(136, 102, 255, 0.2); color: rgb(136, 102, 255); }
.alert-positive { background-color: rgba(136, 36, 255, 0.08); border-color: rgba(136, 36, 255, 0.2); color: rgb(136, 36, 255); }
.alert-info { background-color: rgba(34, 136, 255, 0.08); border-color: rgba(34, 136, 255, 0.2); color: rgb(34, 136, 255); }
.alert-brand { background-color: rgba(248, 34, 68, 0.08); border-color: rgba(248, 34, 68, 0.2); color: rgb(248, 34, 68); }
.alert-deepskyblue { background-color: rgba(0, 191, 255, 0.08); border-color: rgba(0, 191, 255, 0.2); color: rgb(0, 191, 255); }
.alert-blue { background-color: rgba(66, 66, 255, 0.08); border-color: rgba(66, 66, 255, 0.2); color: rgb(66, 66, 255); }
.alert-dark { background-color: rgba(18, 18, 18, 0.08); border-color: rgba(18, 18, 18, 0.2); color: rgb(18, 18, 18); }
.alert-lavender { background-color: rgba(230, 230, 250, 0.08); border-color: rgba(230, 230, 250, 0.2); color: rgb(230, 230, 250); }
.alert-white { background-color: rgba(255, 255, 255, 0.08); border-color: rgba(255, 255, 255, 0.2); color: rgb(255, 255, 255); }
.alert-gray { background-color: rgba(128, 128, 128, 0.08); border-color: rgba(128, 128, 128, 0.2); color: rgb(128, 128, 128); }
.alert-red { background-color: rgba(255, 0, 0, 0.08); border-color: rgba(255, 0, 0, 0.2); color: rgb(255, 0, 0); }
.alert-black { background-color: rgba(0, 0, 0, 0.08); border-color: rgba(0, 0, 0, 0.2); color: rgb(0, 0, 0); }
.alert-gold { background-color: rgba(255, 217, 0, 0.08); border-color: rgba(255, 217, 0, 0.2); color: rgb(255, 217, 0); }
.alert-warning { background-color: rgba(255, 104, 36, 0.08); border-color: rgba(255, 104, 36, 0.2); color: rgb(255, 104, 36); }
.alert-light { background-color: rgba(242, 244, 246, 0.08); border-color: rgba(242, 244, 246, 0.2); color: rgb(242, 244, 246); }
.alert-darkviolet { background-color: rgba(148, 0, 211, 0.08); border-color: rgba(148, 0, 211, 0.2); color: rgb(148, 0, 211); }
.alert-elegant { background-color: rgba(36, 36, 36, 0.08); border-color: rgba(36, 36, 36, 0.2); color: rgb(36, 36, 36); }
.alert-deeppink { background-color: rgba(255, 20, 147, 0.08); border-color: rgba(255, 20, 147, 0.2); color: rgb(255, 20, 147); }
.alert-primary { background-color: rgba(66, 66, 255, 0.08); border-color: rgba(66, 66, 255, 0.2); color: rgb(66, 66, 255); }
.alert-special { background-color: rgba(36, 2, 36, 0.08); border-color: rgba(36, 2, 36, 0.2); color: rgb(36, 2, 36); }
.alert-stylish { background-color: rgba(36, 36, 66, 0.08); border-color: rgba(36, 36, 66, 0.2); color: rgb(36, 36, 66); }
.alert-unique { background-color: rgba(2, 36, 66, 0.08); border-color: rgba(2, 36, 66, 0.2); color: rgb(2, 36, 66); }
.alert-profession { background-color: rgba(22, 22, 27, 0.08); border-color: rgba(22, 22, 27, 0.2); color: rgb(22, 22, 27); }
.alert-ghost { background-color: rgba(248, 248, 255, 0.08); border-color: rgba(248, 248, 255, 0.2); color: rgb(248, 248, 255); }
.alert-danger { background-color: rgba(255, 66, 66, 0.08); border-color: rgba(255, 66, 66, 0.2); color: rgb(255, 66, 66); }
