/* Activate State Utilities */

/* Display (when data-activate="true") */
[data-activate-class~="display-none"][data-activate="true"] {
    display: none;
}

[data-activate-class~="display-block"][data-activate="true"] {
    display: block;
}

[data-activate-class~="display-flex"][data-activate="true"] {
    display: flex;
}

/* Spacing Variables */
[data-activate-class~="inset-0"][data-activate="true"],
[data-activate-class~="top-0"][data-activate="true"] {
    --val: 0px;
}

[data-activate-class~="inset-1"][data-activate="true"],
[data-activate-class~="top-1"][data-activate="true"] {
    --val: 1px;
}

[data-activate-class~="inset-2"][data-activate="true"],
[data-activate-class~="top-2"][data-activate="true"] {
    --val: 2px;
}

[data-activate-class~="inset-4"][data-activate="true"],
[data-activate-class~="top-4"][data-activate="true"] {
    --val: 4px;
}

[data-activate-class~="inset-8"][data-activate="true"],
[data-activate-class~="top-8"][data-activate="true"] {
    --val: 8px;
}

[data-activate-class~="inset-16"][data-activate="true"],
[data-activate-class~="top-16"][data-activate="true"] {
    --val: 16px;
}

/* Apply Logic */
[data-activate-class*="inset-"][data-activate="true"] {
    inset: var(--val);
}

[data-activate-class*="top-"][data-activate="true"] {
    top: var(--val);
}

[data-activate-class*="left-"][data-activate="true"] {
    left: var(--val);
}

[data-activate-class*="right-"][data-activate="true"] {
    right: var(--val);
}

[data-activate-class*="bottom-"][data-activate="true"] {
    bottom: var(--val);
}

/* Aspect Ratio */
[data-activate-class~="aspect-ratio-16:9"][data-activate="true"] {
    --aspect-ratio: 56.25%;
}

[data-activate-class~="aspect-ratio-1:1"][data-activate="true"] {
    --aspect-ratio: 100%;
}

[data-activate-class*="aspect-ratio-"][data-activate="true"]::before {
    content: "";
    display: block;
    padding-top: var(--aspect-ratio);
}