/* Disable State Utilities */

/* Display (when disabled) */
[data-disabled-class~="display-none"]:disabled {
    display: none;
}

[data-disabled-class~="display-block"]:disabled {
    display: block;
}

[data-disabled-class~="opacity-50"]:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Spacing Variables */
[data-disabled-class~="inset-0"]:disabled {
    --val: 0px;
}

[data-disabled-class~="inset-1"]:disabled {
    --val: 1px;
}

/* Apply Logic */
[data-disabled-class*="inset-"]:disabled {
    inset: var(--val);
}

[data-disabled-class*="top-"]:disabled {
    top: var(--val);
}

/* Aspect Ratio */
[data-disabled-class~="aspect-ratio-1:1"]:disabled {
    --aspect-ratio: 100%;
}

[data-disabled-class*="aspect-ratio-"]:disabled::before {
    content: "";
    display: block;
    padding-top: var(--aspect-ratio);
}