/* Focus Utilities */

/* Display States */
[data-focus-class~="display-none"]:focus {
    display: none;
}

[data-focus-class~="display-block"]:focus {
    display: block;
}

[data-focus-class~="display-flex"]:focus {
    display: flex;
}

/* Spacing Variables */
[data-focus-class~="inset-0"]:focus,
[data-focus-class~="top-0"]:focus {
    --val: 0px;
}

[data-focus-class~="inset-1"]:focus,
[data-focus-class~="top-1"]:focus {
    --val: 1px;
}

[data-focus-class~="inset-2"]:focus,
[data-focus-class~="top-2"]:focus {
    --val: 2px;
}

[data-focus-class~="inset-4"]:focus,
[data-focus-class~="top-4"]:focus {
    --val: 4px;
}

[data-focus-class~="inset-8"]:focus,
[data-focus-class~="top-8"]:focus {
    --val: 8px;
}

[data-focus-class~="inset-12"]:focus,
[data-focus-class~="top-12"]:focus {
    --val: 12px;
}

[data-focus-class~="inset-16"]:focus,
[data-focus-class~="top-16"]:focus {
    --val: 16px;
}

[data-focus-class~="inset-24"]:focus,
[data-focus-class~="top-24"]:focus {
    --val: 24px;
}

/* Apply Logic */
[data-focus-class*="inset-"]:focus {
    inset: var(--val);
}

[data-focus-class*="top-"]:focus {
    top: var(--val);
}

[data-focus-class*="left-"]:focus {
    left: var(--val);
}

[data-focus-class*="right-"]:focus {
    right: var(--val);
}

[data-focus-class*="bottom-"]:focus {
    bottom: var(--val);
}

/* Aspect Ratio */
[data-focus-class~="aspect-ratio-16:9"]:focus {
    --aspect-ratio: 56.25%;
}

[data-focus-class~="aspect-ratio-1:1"]:focus {
    --aspect-ratio: 100%;
}

[data-focus-class*="aspect-ratio-"]:focus::before {
    content: "";
    display: block;
    padding-top: var(--aspect-ratio);
}