/* Group Focus Utilities */

/* Parent Focus triggers Child Style */
[data-group-class~="focus"]:focus [data-group-focus-class~="display-block"] {
    display: block;
}

[data-group-class~="focus"]:focus [data-group-focus-class~="display-flex"] {
    display: flex;
}

[data-group-class~="focus"]:focus [data-group-focus-class~="opacity-100"] {
    opacity: 1;
}

/* Apply Logic */
[data-group-class~="focus"]:focus [data-group-focus-class*="inset-"] {
    inset: var(--val);
}

/* Aspect Ratio */
[data-group-class~="focus"]:focus [data-group-focus-class~="aspect-ratio-1:1"] {
    --aspect-ratio: 100%;
}

[data-group-class~="focus"]:focus [data-group-focus-class*="aspect-ratio-"]::before {
    content: "";
    display: block;
    padding-top: var(--aspect-ratio);
}