/* Hover Utilities */

/* Display States */
[data-hover-class~="display-none"]:hover {
    display: none;
}

[data-hover-class~="display-block"]:hover {
    display: block;
}

[data-hover-class~="display-flex"]:hover {
    display: flex;
}

/* Spacing Variables */
[data-hover-class~="inset-0"]:hover,
[data-hover-class~="top-0"]:hover {
    --val: 0px;
}

[data-hover-class~="inset-1"]:hover,
[data-hover-class~="top-1"]:hover {
    --val: 1px;
}

[data-hover-class~="inset-2"]:hover,
[data-hover-class~="top-2"]:hover {
    --val: 2px;
}

[data-hover-class~="inset-4"]:hover,
[data-hover-class~="top-4"]:hover {
    --val: 4px;
}

[data-hover-class~="inset-8"]:hover,
[data-hover-class~="top-8"]:hover {
    --val: 8px;
}

[data-hover-class~="inset-12"]:hover,
[data-hover-class~="top-12"]:hover {
    --val: 12px;
}

[data-hover-class~="inset-16"]:hover,
[data-hover-class~="top-16"]:hover {
    --val: 16px;
}

[data-hover-class~="inset-24"]:hover,
[data-hover-class~="top-24"]:hover {
    --val: 24px;
}

/* Apply Logic */
[data-hover-class*="inset-"]:hover {
    inset: var(--val);
}

[data-hover-class*="top-"]:hover {
    top: var(--val);
}

[data-hover-class*="left-"]:hover {
    left: var(--val);
}

[data-hover-class*="right-"]:hover {
    right: var(--val);
}

[data-hover-class*="bottom-"]:hover {
    bottom: var(--val);
}

/* Aspect Ratio */
[data-hover-class~="aspect-ratio-16:9"]:hover {
    --aspect-ratio: 56.25%;
}

[data-hover-class~="aspect-ratio-1:1"]:hover {
    --aspect-ratio: 100%;
}

[data-hover-class*="aspect-ratio-"]:hover::before {
    content: "";
    display: block;
    padding-top: var(--aspect-ratio);
}