/* Kitwork Industrial Engine JIT */
	.padding-y-32px { padding-top: 32px; padding-bottom: 32px; }
	.container { width: 100%; margin-left: auto; margin-right: auto; max-width: 1280px; padding-left: 1.5rem; padding-right: 1.5rem; }
	.display-flex { display: flex; }
	.justify-between { justify-content: space-between; }
	.items-center { align-items: center; }
	.gap-16px { gap: 16px; }
	.font-900 { font-weight: 900; }
	.font-size-28px { font-size: 28px; }
	.text-white { color: rgb(var(--color-white-rgb)); }
	.letter-spacing--2px { letter-spacing: -2px; }
	.text-brand { color: rgb(var(--color-brand-rgb)); }
	.gap-40px { gap: 40px; }
	.text-gray { color: rgb(var(--color-gray-rgb)); }
	.font-size-11px { font-size: 11px; }
	.hover\:text-white:hover { color: rgb(var(--color-white-rgb)); }
	.transition-all { transition-property: all; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-duration: 150ms; }
	.opacity-40 { opacity: 0.40; }
	.hover\:opacity-100:hover { opacity: 1; }
	.background-brand { background-color: rgb(var(--color-brand-rgb)); }
	.rounded-4px { border-radius: 4px; }
	.hover\:translate-y--3px:hover { transform: translateY(-3px); }
	.hover\:shadow-brand:hover { box-shadow: 0 4px 14px 0 rgba(var(--color-brand-rgb), 0.39); }
	.padding-y-10px { padding-top: 10px; padding-bottom: 10px; }
	.padding-x-24px { padding-left: 24px; padding-right: 24px; }
	.border-0 { border-width: 0px; border-style: solid; }
	.padding-top-120px { padding-top: 120px; }
	.padding-bottom-200px { padding-bottom: 200px; }
	.text-center { text-align: center; }
	.margin-bottom-32px { margin-bottom: 32px; }
	.font-size-120px { font-size: 120px; }
	.line-height-0\.9 { line-height: 0.9; }
	.letter-spacing--6px { letter-spacing: -6px; }
	.margin-bottom-40px { margin-bottom: 40px; }
	.line-height-1\.4 { line-height: 1.4; }
	.max-width-800px { max-width: 800px; }
	.margin-x-auto { margin-left: auto; margin-right: auto; }
	.margin-bottom-64px { margin-bottom: 64px; }
	.justify-center { justify-content: center; }
	.gap-24px { gap: 24px; }
	.padding-y-12px { padding-top: 12px; padding-bottom: 12px; }
	.font-size-14px { font-size: 14px; }
	.padding-y-20px { padding-top: 20px; padding-bottom: 20px; }
	.background-transparent { background-color: transparent; }
	.hover\:text-brand:hover { color: rgb(var(--color-brand-rgb)); }
	.letter-spacing-2px { letter-spacing: 2px; }
	.margin-top-120px { margin-top: 120px; }
	.max-width-900px { max-width: 900px; }
	.text-left { text-align: left; }
	.font-size-10px { font-size: 10px; }
	.font-mono { font-family: 'JetBrains Mono', monospace; }
	.text-white-40 { color: rgba(var(--color-white-rgb), 0.4); }
	.padding-48px { padding: 48px; }
	.font-size-15px { font-size: 15px; }
	.line-height-1\.8 { line-height: 1.8; }
	.padding-left-24px { padding-left: 24px; }
	.padding-left-48px { padding-left: 48px; }
	.padding-y-160px { padding-top: 160px; padding-bottom: 160px; }
	.border-top-1 { border-top-width: 1px; border-top-style: solid; }
	.border-white-5 { border-color: rgba(var(--color-white-rgb), 0.05); }
	.margin-bottom-100px { margin-bottom: 100px; }
	.font-size-12px { font-size: 12px; }
	.letter-spacing-4px { letter-spacing: 4px; }
	.margin-bottom-24px { margin-bottom: 24px; }
	.font-size-64px { font-size: 64px; }
	.display-grid { display: grid; }
	.grid-columns-3 { grid-template-columns: repeat(3, minmax(0, 1fr)); }
	.position-relative { position: relative; }
	.text-white-5 { color: rgba(var(--color-white-rgb), 0.05); }
	.position-absolute { position: absolute; }
	.font-size-24px { font-size: 24px; }
	.margin-bottom-16px { margin-bottom: 16px; }
	.font-size-16px { font-size: 16px; }
	.padding-16px { padding: 16px; }
	.background-black { background-color: rgb(var(--color-black-rgb)); }
	.border-brand-20 { border-color: rgba(var(--color-brand-rgb), 0.2); }
	.margin-top-40px { margin-top: 40px; }
	.background-brand-5 { background-color: rgba(var(--color-brand-rgb), 0.05); }
	.border-1 { border-width: 1px; border-style: solid; }
	.rounded-8 { border-radius: 8px; }
	.padding-24px { padding: 24px; }
	.width-full { width: 100%; }
	.background-dark-50 { background-color: rgba(var(--color-dark-rgb), 0.5); }
	.font-size-72px { font-size: 72px; }
	.margin-bottom-20px { margin-bottom: 20px; }
	.font-size-18px { font-size: 18px; }
	.flex-row { flex-direction: row; }
	.gap-100px { gap: 100px; }
	.items-start { align-items: flex-start; }
	.width-45pct { width: 45%; }
	.position-sticky { position: sticky; }
	.font-size-82px { font-size: 82px; }
	.margin-y-32px { margin-top: 32px; margin-bottom: 32px; }
	.font-size-22px { font-size: 22px; }
	.line-height-1\.6 { line-height: 1.6; }
	.flex-column { flex-direction: column; }
	.padding-0 { padding: 0px; }
	.margin-top-60px { margin-top: 60px; }
	.width-12px { width: 12px; }
	.height-2px { height: 2px; }
	.margin-top-12px { margin-top: 12px; }
	.width-55pct { width: 55%; }
	.border-y-1 { border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; }
	.background-elegant { background-color: rgb(var(--color-elegant-rgb)); }
	.margin-bottom-120px { margin-bottom: 120px; }
	.margin-top-16px { margin-top: 16px; }
	.margin-top-20px { margin-top: 20px; }
	.text-gray-40 { color: rgba(var(--color-gray-rgb), 0.4); }
	.margin-top-8px { margin-top: 8px; }
	.grid-columns-4 { grid-template-columns: repeat(4, minmax(0, 1fr)); }
	.padding-60px { padding: 60px; }
	.gap-60px { gap: 60px; }
	.width-30pct { width: 30%; }
	.width-200px { width: 200px; }
	.height-200px { height: 200px; }
	.rounded-full { border-radius: 9999px; }
	.border-brand-30 { border-color: rgba(var(--color-brand-rgb), 0.3); }
	.width-70pct { width: 70%; }
	.font-size-48px { font-size: 48px; }
	.margin-y-24px { margin-top: 24px; margin-bottom: 24px; }
	.gap-20px { gap: 20px; }
	.padding-x-32px { padding-left: 32px; padding-right: 32px; }
	.hover\:background-white-10:hover { background-color: rgba(var(--color-white-rgb), 0.1); }
	.padding-y-60px { padding-top: 60px; padding-bottom: 60px; }

/* mobile */
@media (max-width: 600px) {
	.mobile\:hidden { display: none; }
	.mobile\:grid-columns-1 { grid-template-columns: repeat(1, minmax(0, 1fr)); }
}

/* tablet */
@media (max-width: 900px) {
	.tablet\:grid-columns-1 { grid-template-columns: repeat(1, minmax(0, 1fr)); }
	.tablet\:flex-column { flex-direction: column; }
	.tablet\:width-full { width: 100%; }
	.tablet\:grid { display: grid; }
	.tablet\:grid-columns-2 { grid-template-columns: repeat(2, minmax(0, 1fr)); }
	.tablet\:gap-60px { gap: 60px; }
	.tablet\:text-center { text-align: center; }
	.tablet\:justify-center { justify-content: center; }
}
