/* Kitwork Industrial Engine JIT */
	.position-fixed { position: fixed; }
	.width-full { width: 100%; }
	.z-index-overlay { z-index: 1000; }
	.background-profession\/90 { background-color: rgba(var(--color-profession-rgb), 0.9); }
	.border-bottom-1 { border-bottom-width: 1px; border-bottom-style: solid; }
	.border-elegant { border-color: rgb(var(--color-elegant-rgb)); }
	.padding-y-20 { padding-top: 20px; padding-bottom: 20px; }
	.container { width: 100%; margin-left: auto; margin-right: auto; max-width: 1280px; padding-left: 1.5rem; padding-right: 1.5rem; }
	.display-flex { display: flex; }
	.flex-row { flex-direction: row; }
	.justify-between { justify-content: space-between; }
	.items-center { align-items: center; }
	.gap-16 { gap: 16px; }
	.width-32 { width: 32px; }
	.height-32 { height: 32px; }
	.position-relative { position: relative; }
	.cube-size-32 { --cube-size: 32px; --cube-face-translate-z: 16px; }
	.flex-column { flex-direction: column; }
	.font-900 { font-weight: 900; }
	.font-size-22 { font-size: 22px; }
	.letter-spacing--1 { letter-spacing: -1px; }
	.text-white { color: rgb(var(--color-white-rgb)); }
	.line-height-1 { line-height: 1; }
	.text-brand { color: rgb(var(--color-brand-rgb)); }
	.font-size-9 { font-size: 9px; }
	.letter-spacing-1 { letter-spacing: 1px; }
	.gap-32 { gap: 32px; }
	.text-gray { color: rgb(var(--color-gray-rgb)); }
	.font-size-12 { font-size: 12px; }
	.hover\:text-white:hover { color: rgb(var(--color-white-rgb)); }
	.background-brand { background-color: rgb(var(--color-brand-rgb)); }
	.font-size-11 { font-size: 11px; }
	.padding-x-24 { padding-left: 24px; padding-right: 24px; }
	.padding-y-10 { padding-top: 10px; padding-bottom: 10px; }
	.rounded-full { border-radius: 9999px; }
	.border-0 { border-width: 0px; border-style: solid; }
	.shadow-giant { box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1), 0 10px 10px -5px rgba(0,0,0,0.04); }
	.padding-top-200 { padding-top: 200px; }
	.padding-bottom-120 { padding-bottom: 120px; }
	.gap-80 { gap: 80px; }
	.width-55-percent { width: 55%; }
	.display-inline-block { display: inline-block; }
	.background-brand\/10 { background-color: rgba(var(--color-brand-rgb), 0.1); }
	.border-1 { border-width: 1px; border-style: solid; }
	.border-brand\/20 { border-color: rgba(var(--color-brand-rgb), 0.2); }
	.padding-x-14 { padding-left: 14px; padding-right: 14px; }
	.padding-y-6 { padding-top: 6px; padding-bottom: 6px; }
	.rounded-4 { border-radius: 4px; }
	.margin-bottom-32 { margin-bottom: 32px; }
	.font-size-92 { font-size: 92px; }
	.line-height-0\.95 { line-height: 0.95; }
	.letter-spacing--4 { letter-spacing: -4px; }
	.font-size-24 { font-size: 24px; }
	.line-height-1\.4 { line-height: 1.4; }
	.margin-bottom-48 { margin-bottom: 48px; }
	.max-width-600 { max-width: 600px; }
	.gap-20 { gap: 20px; }
	.background-white { background-color: rgb(var(--color-white-rgb)); }
	.text-black { color: rgb(var(--color-black-rgb)); }
	.font-size-16 { font-size: 16px; }
	.padding-x-48 { padding-left: 48px; padding-right: 48px; }
	.rounded-8 { border-radius: 8px; }
	.hover\:background-brand:hover { background-color: rgb(var(--color-brand-rgb)); }
	.hover\:background-elegant:hover { background-color: rgb(var(--color-elegant-rgb)); }
	.width-45-percent { width: 45%; }
	.gap-60 { gap: 60px; }
	.justify-center { justify-content: center; }
	.height-160 { height: 160px; }
	.cube-size-120 { --cube-size: 120px; --cube-face-translate-z: 60px; }
	.background-black { background-color: rgb(var(--color-black-rgb)); }
	.rounded-12 { border-radius: 12px; }
	.background-elegant { background-color: rgb(var(--color-elegant-rgb)); }
	.padding-y-16 { padding-top: 16px; padding-bottom: 16px; }
	.gap-12 { gap: 12px; }
	.border-white\/5 { border-color: rgba(var(--color-white-rgb), 0.05); }
	.width-10 { width: 10px; }
	.height-10 { height: 10px; }
	.margin-left-auto { margin-left: auto; }
	.padding-48 { padding: 48px; }
	.font-size-14 { font-size: 14px; }
	.line-height-1\.8 { line-height: 1.8; }
	.padding-left-20 { padding-left: 20px; }
	.margin-top-32 { margin-top: 32px; }
	.border-top-1 { border-top-width: 1px; border-top-style: solid; }
	.padding-top-12 { padding-top: 12px; }
	.margin-top-12 { margin-top: 12px; }
	.padding-y-60 { padding-top: 60px; padding-bottom: 60px; }
	.background-elegant\/30 { background-color: rgba(var(--color-elegant-rgb), 0.3); }
	.border-y-1 { border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; }
	.text-center { text-align: center; }
	.font-size-36 { font-size: 36px; }
	.letter-spacing-2 { letter-spacing: 2px; }
	.margin-top-8 { margin-top: 8px; }
	.padding-y-160 { padding-top: 160px; padding-bottom: 160px; }
	.margin-bottom-120 { margin-bottom: 120px; }
	.font-size-72 { font-size: 72px; }
	.margin-bottom-24 { margin-bottom: 24px; }
	.width-120 { width: 120px; }
	.height-4 { height: 4px; }
	.margin-x-auto { margin-left: auto; margin-right: auto; }
	.margin-top-40 { margin-top: 40px; }
	.max-width-900 { max-width: 900px; }
	.gap-48 { gap: 48px; }
	.width-20-percent { width: 20%; }
	.font-size-48 { font-size: 48px; }
	.text-white\/40 { color: rgba(var(--color-white-rgb), 0.4); }
	.width-80-percent { width: 80%; }
	.font-size-28 { font-size: 28px; }
	.margin-bottom-16 { margin-bottom: 16px; }
	.font-size-18 { font-size: 18px; }
	.line-height-1\.6 { line-height: 1.6; }
	.padding-32 { padding: 32px; }
	.padding-40 { padding: 40px; }
	.letter-spacing-4 { letter-spacing: 4px; }
	.margin-top-24 { margin-top: 24px; }
	.background-profession { background-color: rgb(var(--color-profession-rgb)); }
	.gap-100 { gap: 100px; }
	.font-size-64 { font-size: 64px; }
	.line-height-0\.9 { line-height: 0.9; }
	.margin-y-32 { margin-top: 32px; margin-bottom: 32px; }
	.font-size-20 { font-size: 20px; }
	.margin-bottom-40 { margin-bottom: 40px; }
	.font-size-15 { font-size: 15px; }
	.padding-left-24 { padding-left: 24px; }
	.padding-y-120 { padding-top: 120px; padding-bottom: 120px; }
	.background-elegant\/10 { background-color: rgba(var(--color-elegant-rgb), 0.1); }
	.items-start { align-items: flex-start; }
	.gap-24 { gap: 24px; }
	.letter-spacing--2 { letter-spacing: -2px; }
	.max-width-360 { max-width: 360px; }
	.hover\:text-brand:hover { color: rgb(var(--color-brand-rgb)); }
	.font-600 { font-weight: 600; }
	.margin-top-120 { margin-top: 120px; }
	.padding-top-60 { padding-top: 60px; }
	.text-gray\/10 { color: rgba(var(--color-gray-rgb), 0.1); }
	.font-size-10 { font-size: 10px; }

/* mobile */
@media (max-width: 600px) {
	.mobile\:hidden { display: none; }
	.mobile\:font-size-54 { font-size: 54px; }
	.mobile\:flex-column { flex-direction: column; }
	.mobile\:grid-columns-1 { grid-template-columns: repeat(1, minmax(0, 1fr)); }
	.mobile\:font-size-48 { font-size: 48px; }
}

/* tablet */
@media (max-width: 900px) {
	.tablet\:flex-column { flex-direction: column; }
	.tablet\:width-full { width: 100%; }
	.tablet\:cube-size-80 { --cube-size: 80px; --cube-face-translate-z: 40px; }
	.tablet\:grid { display: grid; }
	.tablet\:grid-columns-2 { grid-template-columns: repeat(2, minmax(0, 1fr)); }
	.tablet\:gap-40 { gap: 40px; }
	.tablet\:gap-24 { gap: 24px; }
	.tablet\:gap-60 { gap: 60px; }
}
