<header
    class="position-fixed top-0px left-0px width-full z-index-100 background-black-30 blur-medium border-bottom-1px border-white-5">
    <nav class="container padding-y-16px height-72px display-flex justify-between items-center">
        <div class="display-flex items-center gap-12px">
            <span class="font-black font-size-24px text-white -letter-spacing-2px">KITWORK<span
                    class="text-brand">.</span></span>
            v15.2
        </div>
        </div>

        <div class="display-flex gap-32px tablet:display-none">
            <a href="#orm"
                class="text-white-50 font-size-11px font-900 uppercase underline-none hover:text-white transition-all">Smart
                ORM</a>
            <a href="#scheduler"
                class="text-white-50 font-size-11px font-900 uppercase underline-none hover:text-white transition-all">Scheduler</a>
            <a href="#vm"
                class="text-white-50 font-size-11px font-900 uppercase underline-none hover:text-white transition-all">Benchmarks</a>
        </div>

        <div class="display-flex items-center gap-16px">
            <a href="https://github.com/kitwork/engine"
                class="text-white-40 hover:text-white transition-all duration-300">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path
                        d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                    </path>
                </svg>
            </a>
            <button
                class="background-brand text-white font-black font-size-11px uppercase padding-y-12px padding-x-24px rounded-4px border-none outline-none cursor-pointer transition-all hover:shadow-glow-brand hover:-translate-y-2px">
                Launch Core
            </button>
        </div>
    </nav>
</header>
<div class="height-72px"></div>